<p>Add a word </p>

<form action="/" method="post">
  <label for="word">Word</label>
  <input id="word" name="word" type="text" required>
  <button type="submit">Add Word</button>
</form>

<%if @words != [] %>
  <h3>List of all words in dictionary</h3>
  <ul>
    <% @words.each do |word| %>
    <li><a href="/word/<%= word.id() %>"><%= word.word() %></a></li>
    <% end %>
  </ul>
<% end %>

<hr>
<form action="/clear" method="post">
  <button class="btn btn-danger" type="submit" name="clear">clear words</button>
</form>
