<!DOCTYPE html>
<html>
<head>
  <title>Dictionary</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link  rel='stylesheet' href="/css/styles.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h2>Dictionary</h1>
    </div>
    <hr>
    <div class = "width">
      <%= yield %>
    </div>
  </div>
</body>
</html>
