<p>Create a new definition:</p>

<form action="/word/<%= @word.id %>" method="post">
  <label for="define">Add an definition</label>
  <textarea name="define" value = "defin" id ="defin" class="form-control"></textarea>
  <button type="submit">Add definition</button>
</form>

<% if @word.definitions != [] %>
  <h3>List of definitions added to <%= @word.word() %> <h3>
  <ul>
    <% @word.definitions.each do | definition | %>
      <li><%= definition.define %></li>
    <% end %>
  </ul>
<% end %>
<a href="/">Return to Main Page</a>
